* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: playfair;
    src: url(../font/PlayfairDisplay-VariableFont_wght.ttf);
}
section {
    background-image: url(../img/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    font-family: playfair;
    text-transform: capitalize;
    position: relative;


    >a {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        z-index: 5;
        opacity: 0;
        transition: 0.5s;
        animation: opacity 2s 2s forwards;
        &:hover{
            animation: opacity2 2s 2s forwards;
        }
        &:nth-of-type(1) {
            background-color: white;
            bottom: 6%;
            left: 0%;
            width: 80px;
            height: 50px;
            font-size: 1.1vw;
        }

        &:nth-of-type(2) {
            background-color: black;
            bottom: 12%;
            left: 0%;
            width: 160px;
            height: 100px;
            font-size: 1.3vw;
            color: white;
        }

        &:hover~div {
            opacity: 0;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;


        >h2 {
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 0;
            animation: text1 1s 2s forwards;
        }

        >p {
            width: 100%;
            text-align: center;
            position: relative;
            margin-top: 20px;
            font-size: 0;
            animation: text2 1s 2s forwards;

            &::before {
                content: '';
                width: 3%;
                height: 7%;
                background-color: black;
                position: absolute;
                left: 50%;
                bottom: -70%;
                transform: translateX(-50%);

            }
        }
    }

    >.row {
        position: absolute;
        animation: opacity 1s 5s;

        >h2 {
            font-size: 4vw;
        }

        >p {
            font-size: 1.2vw;
        }

    }

    div {
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 5s;

        &::after {

            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            animation: after 2s 2.2s forwards;
        }
    }

    >div {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 100%);
        width: 100%;
        height: 100%;

        >div {
            &:nth-of-type(2) {
                background-image: url(../img/5.jpg);
                height: 0;
                animation: height 2s 2.2s forwards;

                &::after {
                    content: '';
                    background-color: #DF9E98;
                    animation: after 2.2s 2.2s forwards;
                }
            }

            // level1
            &:nth-of-type(1) {
                display: grid;
                grid-template-columns: repeat(1, 100%);
                grid-template-rows: repeat(2, 50%);
                width: 100%;
                height: 100%;

                >div {
                    &:nth-of-type(1) {
                        background-image: url(../img/4.jpg);
                        width: 0;
                        animation: width 2.2s 2.2s forwards;

                        &::after {
                            content: '';
                            position: absolute;
                            background-color: #9ED4D4;
                            animation: after 2s 2s forwards;
                        }

                    }

                    &:nth-of-type(2) {
                        display: grid;
                        grid-template-columns: repeat(2, 50%);
                        grid-template-rows: repeat(1, 100%);
                        width: 100%;
                        height: 100%;

                        >div {
                            &:nth-of-type(2) {
                                background-image: url(../img/3.jpg);
                                height: 0;
                                background-position: center;
                                animation: height 2s 2s forwards;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    background-color: #DF9E98;
                                    animation: after 2s 2s forwards;
                                }
                            }

                            &:nth-of-type(1) {
                                display: grid;
                                grid-template-columns: repeat(1, 100%);
                                grid-template-rows: repeat(2, 50%);
                                width: 100%;
                                height: 100%;

                                >div {
                                    &:nth-of-type(1) {
                                        background-image: url(../img/2.jpg);
                                        width: 0;
                                        animation: width 2s 2s forwards;

                                        >.row {
                                            >h2 {
                                                animation: text4 2s 1s forwards;
                                            }
                                        }

                                        &::after {
                                            content: '';
                                            position: absolute;
                                            background-color: #9ED4D4;
                                            animation: after 2s 2s forwards;
                                        }

                                        >.row {
                                            >h {
                                                animation: text3 1s 2s forwards;
                                            }
                                        }
                                    }

                                    &:nth-of-type(2) {
                                        display: grid;
                                        grid-template-columns: repeat(2, 50%);
                                        grid-template-rows: repeat(1, 100%);
                                        width: 100%;
                                        height: 100%;

                                        >div {
                                            &:nth-of-type(2) {
                                                background-image: url(../img/bg1.jpg);
                                                height: 0;
                                                animation: height 1.5s 1.5s forwards;

                                                >.row {
                                                    >h2 {
                                                        animation: text3 2s 1s forwards;
                                                    }
                                                }

                                                &::after {
                                                    content: '';
                                                    position: absolute;
                                                    background-color: #DF9E98;
                                                    animation: after 1.5s 1.5s forwards;
                                                }
                                            }

                                            &:nth-of-type(1) {
                                                display: grid;
                                                grid-template-columns: repeat(1, 100%);
                                                grid-template-rows: repeat(2, 50%);
                                                width: 100%;
                                                height: 100%;

                                                >div {
                                                    &:nth-of-type(1) {
                                                        background-color: black;
                                                        width: 0;
                                                        color: white;
                                                        animation: width 1.5s 1.5s forwards;
                                                        font-size: 1.3vw;
                                                        font-weight: bold;
                                                    }

                                                    &:nth-of-type(2) {
                                                        display: grid;
                                                        grid-template-columns: repeat(2, 50%);
                                                        grid-template-rows: repeat(1, 100%);
                                                        width: 100%;
                                                        height: 100%;

                                                        >div {
                                                            &:nth-of-type(2) {
                                                                background-color: #9ED4D4;
                                                                height: 0;
                                                                background-position: center;
                                                                animation: height 1s 1s forwards;
                                                            }

                                                            &:nth-of-type(1) {
                                                                display: grid;
                                                                grid-template-columns: repeat(1, 100%);
                                                                grid-template-rows: repeat(2, 50%);
                                                                width: 100%;
                                                                height: 100%;

                                                                >div {
                                                                    &:nth-of-type(1) {
                                                                        background-color: white;
                                                                        width: 0;
                                                                        font-size: 1.1vw;
                                                                        font-weight: bold;
                                                                        animation: width 1s 1s forwards;
                                                                    }

                                                                    &:nth-of-type(2) {
                                                                        display: grid;
                                                                        grid-template-columns: repeat(2, 50%);
                                                                        grid-template-rows: repeat(1, 100%);
                                                                        width: 100%;
                                                                        height: 100%;

                                                                        >div {
                                                                            &:nth-of-type(1) {
                                                                                background-color: #F1D3B9;
                                                                                width: 0;
                                                                                animation: width 0.5s 0.5s forwards;
                                                                            }

                                                                            &:nth-of-type(2) {
                                                                                background-color: #DF9E98;
                                                                                height: 0;
                                                                                animation: height 0.5s 0.5s forwards;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@keyframes width {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}

@keyframes height {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes after {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes text1 {
    0% {
        font-size: 0;
    }

    30% {
        font-size: 0;
    }

    100% {
        font-size: 4vw;
    }
}

@keyframes text2 {
    0% {
        font-size: 0;
    }

    30% {
        font-size: 0;
    }

    100% {
        font-size: 1vw;
    }
}

@keyframes text3 {
    0% {
        font-size: 0;
    }

    30% {
        font-size: 0;
    }

    100% {
        font-size: 2vw;
    }
}

@keyframes text4 {
    0% {
        font-size: 0;
    }

    30% {
        font-size: 0;
    }

    100% {
        font-size: 2.5vw;
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes opacity2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}